<% for @pkg in @packages %>
PACKAGE NAME:  <%= @pkg["filename"] %>
PACKAGE LOCATION:  <%= @pkg["category"] %>
PACKAGE SIZE (compressed):  <%= @pkg["size_c"] %>
PACKAGE SIZE (uncompressed):  <%= @pkg["size_u"] %>
PACKAGE REQUIRED:  <%= @pkg["required"] %>
PACKAGE CONFLICTS:  <%= @pkg["conflicts"] %>
PACKAGE SUGGESTS:  <%= @pkg["suggests"] %>
PACKAGE DESCRIPTION:
<%= @pkg["description"] %>


<% end %>